<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Formulário de registro de usuários</h1>
    <form action="/register" method="post">
        <input type="text" name="name" id="name" placeholder="Nome">
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="password" name="password" id="password" placeholder="Password">
        <select name="role">
            <option value="USER">User</option>
            <% if(role === "SUPERUSER"){%>
                <option value="ADMIN">Admin</option>
            <%}%>
        </select>
        <button type="submit">Login</button>
    </form>
</body>
</html>