
<header class="w-full h-[70px] bg-[#2563EB] flex items-center fixed top-0">
    <p class="w-full text-center text-[30px] text-white font-bold">
        User Management
    </p>
</header>
<!-- <nav>
    <ul>
        <a href="/"><li>INICIO</li></a>
        <a href="/users"><li>USUARIOS</li></a>
    </ul>
</nav> -->